* {
  padding: 0;
  margin: 0;
  font-size: inherit;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Times New Roman', Times, serif;
}
body {
  background-color: var($--c-primary);
  padding: 5rem;
}
